@charset "utf-8";
@import "_var", "_mixin";

#header{}
#wrap{
    overflow: hidden;
}
#contect_wrap{
#cnt1{
.youth{
    width: 100vw;height: 100vh;
    @include bgsize(cover); background-position: center;
    background-image: url("../images/contect/contect_bg.png");
    h1{
        position: relative; top: calc(50% - 15px); left: 80%; font-size: 30px;
        &::before{
            content: ""; display: inline-block; width: 0px; height: 3px; position: absolute; top: 49%; left: -30%; background: #ffffff;
            }
    }
    .c1_txt{
        margin-left: 150px; margin-top: 480px; 
        li{
        overflow: hidden; position: relative;
        height: 42px; font-size: 20px;
        line-height: 3.2;
        span{display: inline-block;}
            +li{margin-top: 20px;}
        }
    }
}
.youth.on{
    h1{
        &::before{
        width: 480px; @include transition(all 2s);
        }
    }
    .c1_txt{
        li{
            span{transform:translateY(0%);
                    animation: text_up 2s linear both;
                }
            // &:nth-of-type(2) span {
            // animation-delay: 0.2s;
            // }
            // &:nth-of-type(3) span {
            // animation-delay: 0.4s;
            // }
            // &:nth-of-type(4) span {
            // animation-delay: 0.6s;
            // }
            // &:nth-of-type(5) span {
            // animation-delay: 0.8s;
            // }
            @keyframes text_up {
            from {
                transform: translate3d(0, 150%, 0);
            }
            to {
                transform: translate3d(0, 0, 0);
            }
            }
        }
    }
}
}
#cnt2{
    width: 100vw;height: 100vh;  cursor: default;
    @include bgsize(cover); background-position: bottom left;
    background-image: url("../images/contect/contect_bg_2.png");
    h1{
        display: inline-block; font-size: 180px; padding-left: 300px; padding-top: 200px; line-height: 1.2;
    }
    .introduce{
        display: inline-block; padding-left: 150px; height: 648px;
        li{
            font-size: 25px; width: 800px; height: 180px; line-height: 180px; 
            strong{display: inline-block; font-weight: 400; width: 300px;text-align: center;}
            p{display: inline-block; padding-left: 20px;}
            +li{border-top: 1px solid $gray;}
        }
    }
}
// js li에 hover,focus 제어
#cnt3{
    width: 100vw;height: 100vh; position: relative;  cursor: default;
    @include bgsize(cover); background-position: top left;
    background-image: url("../images/contect/contect_bg_3.png") ;
    h2{padding-top: 150px; margin-left: 300px; font-size: 120px;}
    .skill_box{
        // display: flex;
        margin-left: 150px; margin-top: 100px;
        li{
            display: inline-block; text-align: center; height: 85px;
            line-height: 80px; position: relative;
            strong{display: inline-block; text-align: center;}
            p{display: inline-block; font-weight: 500; font-size: 80px; color: rgba(255, 255, 255, 0.2); position: absolute; top: 0; left: 0;}
            &:hover,&:focus{              
                strong{color: rgba(255, 255, 255, 0.2); @include transition(all 0.5s);}
                p{color: #ffffff;  @include transition(all 0.3s);}
            }
        }
        .skill_top{
            width: 400px;
            p{width: 400px;}
        }
        .skill_btm{
            width: 320px; margin-top: 80px;
            p{width: 320px;}
        }
    }
    .stream{
        width: 100vw; 
        h3{
            display: inline-block; font-size: 80px;
            position: absolute; bottom: 0px; left: 0;
            white-space: nowrap; height: 150px; line-height: 150px;
            animation: stream 100s linear infinite;
            @keyframes stream  {
                from {
                    transform:translateX(20%);
                }
                to {
                    transform:translateX(-100%);
                }
            }
        }
        &::after{content: "";background: #ffffff;
            width: 100vw; height: 5px; display: block; bottom: 150px;
            left: 0px;position: absolute;
        }
    }
}
}

#project_wrap{
    #pj_main{    
    @include bgsize(cover); text-align: center; width: 100vw; height: 100vh;
    background-image: url("../images/project/project_main_bg.png");
    h1{font-size: 35px; padding-top: 50px; font-weight: 400;}
    }
    .pj_list{
        float: left; text-align: center; width: 100%; margin-top: 50px;
        ul{display: inline-block;        
            .main_view{
                display: inline-block;
                a:hover,a:focus{}
                img{}
                strong{font-weight: 400; position: absolute; bottom: 15px; right: 0; font-size: 35px;transform: rotate(-30deg);}
            }
            .over_view{

            }  
            >li{
            display: inline-block; float: left;
            }
            ul{

            }
            +ul{margin-left: 50px;}
            &:nth-child(1){position: relative;
                .main_view{ background: red;}
                .over_view{position: absolute; top: -30px; left: 0;}
            }
            &:nth-child(2){position: relative;
                .main_view{}
                .over_view{position: absolute; top: -30px; left: 0;}
            }
            &:nth-child(3){position: relative;
                .main_view{}
                .over_view{position: absolute; top: -30px; left: 0;}
            }
        }
    } 
}

#acce_wrap{
    font-family: NtSansKR;
    #acce_main{
    display: none;
    @include bgsize(cover); width: 100vw; height: 100vh;
    background-image: url("../images/accessibility/acce_main_bg.png"); 
        .acce_left{
            margin-left: 150px; padding-top: 250px;
            h1{@include text-stroke(1px #ffffff); font-family: Retroica; font-size: 100px;}
            h2{font-size: 30px; font-weight: 400; margin-top: 10px; margin-left: 10px;}
            p{margin-top: 100px; margin-left: 10px; font-size: 20px;line-height: 65px;
            }
        }
        button{font-size: 20px; display: inline-block; width: 250px; height: 70px; border: 1px solid #ffffff; 
        position: absolute; bottom: 245px; right: 300px;
        &:hover,&:focus{background: #ffffff; color: #000000;@include transition(all 0.3s);}
        }
    }
    #acce_tab{
        &::before{
            content: "";@include bgsize(cover); width: 100vw; height: 100vh; position: fixed; top: 0; left: 0;
            background-image: url("../images/accessibility/acce_tab_bg.png"); z-index: -1; 
            }
        #tab_box{   
            &::before{
                content: "";background-color: rgba(0, 0, 0, 0.7);
                width:100%; height: 1920px; display: inline-block;
                border-radius: 50% 50% 0 0;
                }
            &::after{
                content: "";background-color: rgba(0, 0, 0, 0.7);
                width:100%; height: 1920px; display: inline-block;
                border-radius: 0 0 50% 50%; margin-top: -2px;
                }
        }
        #tablist{
            li{
                cursor: pointer; width: 80px; height: 80px;border-radius: 50%; background: #000000; color: #ffffff; text-align: center; line-height: 80px; font-size: 25px; position: absolute; z-index: 5;
                &:nth-child(1){top: 50px; right: 380px;}
                &:nth-child(2){top: 125px; right: 280px;}
                &:nth-child(3){top: 205px; right: 190px;}
                &:nth-child(4){top: 295px; right: 110px;}
            }
            li.active{background: $yellow; color: #000000;}
        }
        .tabpanel{
            display: none; 
            position: absolute; top: 100px; left: 0; width: 100vw;
            // display: flex; flex-direction: column; 
            // align-items:center;justify-content:center; 
            h2{font-size: 25px; text-align: center;cursor: default;}
            ul{text-align: center;margin-bottom: 200px;}
            li{  
                margin-top: 100px; text-align: center; cursor: default;
                p{display: inline-block;  
                @include border-box;border: 1px solid $gray; 
                word-break: keep-all; font-size: 16px;width: 1000px;text-align: left; line-height: 30px;background: #000000; padding: 40px 80px;}
                img{display: inline-block; margin-top: 50px; width: 1200px;}
                +li{margin-top: 200px;}
            }
        }
        #tabpanel4{
            li{
                h3{margin-top: 50px;}
                img{width: 1500px; height: 160px;}
            }
        }
        .tabpanel.active{
            display: inline-block;
            li{}
        }
    }

}