#wrap {
  overflow: hidden; }

#contect_wrap #cnt1 .youth {
  width: 100vw;
  height: 100vh;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  background-position: center;
  background-image: url("../images/contect/contect_bg.png"); }
  #contect_wrap #cnt1 .youth h1 {
    position: relative;
    top: calc(50% - 15px);
    left: 80%;
    font-size: 30px; }
    #contect_wrap #cnt1 .youth h1::before {
      content: "";
      display: inline-block;
      width: 0px;
      height: 3px;
      position: absolute;
      top: 49%;
      left: -30%;
      background: #ffffff; }
  #contect_wrap #cnt1 .youth .c1_txt {
    margin-left: 150px;
    margin-top: 480px; }
    #contect_wrap #cnt1 .youth .c1_txt li {
      overflow: hidden;
      position: relative;
      height: 42px;
      font-size: 20px;
      line-height: 3.2; }
      #contect_wrap #cnt1 .youth .c1_txt li span {
        display: inline-block; }
      #contect_wrap #cnt1 .youth .c1_txt li + li {
        margin-top: 20px; }
#contect_wrap #cnt1 .youth.on h1::before {
  width: 480px;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s; }
#contect_wrap #cnt1 .youth.on .c1_txt li span {
  transform: translateY(0%);
  animation: text_up 2s linear both; }
@keyframes text_up {
  from {
    transform: translate3d(0, 150%, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
#contect_wrap #cnt2 {
  width: 100vw;
  height: 100vh;
  cursor: default;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  background-position: bottom left;
  background-image: url("../images/contect/contect_bg_2.png"); }
  #contect_wrap #cnt2 h1 {
    display: inline-block;
    font-size: 180px;
    padding-left: 300px;
    padding-top: 200px;
    line-height: 1.2; }
  #contect_wrap #cnt2 .introduce {
    display: inline-block;
    padding-left: 150px;
    height: 648px; }
    #contect_wrap #cnt2 .introduce li {
      font-size: 25px;
      width: 800px;
      height: 180px;
      line-height: 180px; }
      #contect_wrap #cnt2 .introduce li strong {
        display: inline-block;
        font-weight: 400;
        width: 300px;
        text-align: center; }
      #contect_wrap #cnt2 .introduce li p {
        display: inline-block;
        padding-left: 20px; }
      #contect_wrap #cnt2 .introduce li + li {
        border-top: 1px solid #999A9C; }
#contect_wrap #cnt3 {
  width: 100vw;
  height: 100vh;
  position: relative;
  cursor: default;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  background-position: top left;
  background-image: url("../images/contect/contect_bg_3.png"); }
  #contect_wrap #cnt3 h2 {
    padding-top: 150px;
    margin-left: 300px;
    font-size: 120px; }
  #contect_wrap #cnt3 .skill_box {
    margin-left: 150px;
    margin-top: 100px; }
    #contect_wrap #cnt3 .skill_box li {
      display: inline-block;
      text-align: center;
      height: 85px;
      line-height: 80px;
      position: relative; }
      #contect_wrap #cnt3 .skill_box li strong {
        display: inline-block;
        text-align: center; }
      #contect_wrap #cnt3 .skill_box li p {
        display: inline-block;
        font-weight: 500;
        font-size: 80px;
        color: rgba(255, 255, 255, 0.2);
        position: absolute;
        top: 0;
        left: 0; }
      #contect_wrap #cnt3 .skill_box li:hover strong, #contect_wrap #cnt3 .skill_box li:focus strong {
        color: rgba(255, 255, 255, 0.2);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      #contect_wrap #cnt3 .skill_box li:hover p, #contect_wrap #cnt3 .skill_box li:focus p {
        color: #ffffff;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
    #contect_wrap #cnt3 .skill_box .skill_top {
      width: 400px; }
      #contect_wrap #cnt3 .skill_box .skill_top p {
        width: 400px; }
    #contect_wrap #cnt3 .skill_box .skill_btm {
      width: 320px;
      margin-top: 80px; }
      #contect_wrap #cnt3 .skill_box .skill_btm p {
        width: 320px; }
  #contect_wrap #cnt3 .stream {
    width: 100vw; }
    #contect_wrap #cnt3 .stream h3 {
      display: inline-block;
      font-size: 80px;
      position: absolute;
      bottom: 0px;
      left: 0;
      white-space: nowrap;
      height: 150px;
      line-height: 150px;
      animation: stream 20s linear infinite; }
@keyframes stream {
  from {
    transform: translateX(20%); }
  to {
    transform: translateX(-100%); } }
    #contect_wrap #cnt3 .stream::after {
      content: "";
      background: #ffffff;
      width: 100vw;
      height: 5px;
      display: block;
      bottom: 150px;
      left: 0px;
      position: absolute; }

#acce_wrap {
  font-family: NtSansKR; }
  #acce_wrap #acce_main {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/accessibility/acce_main_bg.png"); }
    #acce_wrap #acce_main .acce_left {
      margin-left: 150px;
      padding-top: 250px; }
      #acce_wrap #acce_main .acce_left h1 {
        -webkit-text-stroke: 1px #ffffff;
        text-stroke: 1px #ffffff;
        font-family: Retroica;
        font-size: 100px; }
      #acce_wrap #acce_main .acce_left h2 {
        font-size: 30px;
        font-weight: 400;
        margin-top: 10px;
        margin-left: 10px; }
      #acce_wrap #acce_main .acce_left p {
        margin-top: 100px;
        margin-left: 10px;
        font-size: 20px;
        line-height: 65px; }
    #acce_wrap #acce_main button {
      font-size: 20px;
      display: inline-block;
      width: 250px;
      height: 70px;
      border: 1px solid #ffffff;
      position: absolute;
      bottom: 245px;
      right: 300px; }
      #acce_wrap #acce_main button:hover, #acce_wrap #acce_main button:focus {
        background: #ffffff;
        color: #000000;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
  #acce_wrap #acce_tab {
    display: none; }
    #acce_wrap #acce_tab::before {
      content: "";
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background-image: url("../images/accessibility/acce_tab_bg.png");
      z-index: -1; }
    #acce_wrap #acce_tab #tab_box::before {
      content: "";
      background-color: rgba(0, 0, 0, 0.7);
      width: 1920px;
      height: 1920px;
      display: inline-block;
      border-radius: 50% 50% 0 0; }
    #acce_wrap #acce_tab #tablist li {
      cursor: pointer;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: #000000;
      color: #ffffff;
      text-align: center;
      line-height: 80px;
      font-size: 25px;
      position: absolute;
      z-index: 5; }
      #acce_wrap #acce_tab #tablist li:nth-child(1) {
        top: 50px;
        right: 380px; }
      #acce_wrap #acce_tab #tablist li:nth-child(2) {
        top: 125px;
        right: 280px; }
      #acce_wrap #acce_tab #tablist li:nth-child(3) {
        top: 205px;
        right: 190px; }
      #acce_wrap #acce_tab #tablist li:nth-child(4) {
        top: 295px;
        right: 110px; }
    #acce_wrap #acce_tab #tablist li.active {
      background: #F6E25D;
      color: #000000; }
    #acce_wrap #acce_tab .tabpanel {
      position: absolute;
      top: 100px;
      left: 0;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #acce_wrap #acce_tab .tabpanel h1 {
        font-size: 30px;
        text-align: center; }
      #acce_wrap #acce_tab .tabpanel ul {
        text-align: center; }
      #acce_wrap #acce_tab .tabpanel li {
        margin-top: 80px;
        text-align: center; }
        #acce_wrap #acce_tab .tabpanel li p {
          display: inline-block;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border: 1px solid #999A9C;
          word-break: keep-all;
          font-size: 16px;
          width: 1000px;
          text-align: left;
          line-height: 30px;
          background: #000000;
          padding: 40px 80px; }
        #acce_wrap #acce_tab .tabpanel li img {
          display: inline-block;
          margin-top: 30px;
          width: 1200px; }
    #acce_wrap #acce_tab .tabpanel.active {
      display: inline-block; }

/*# sourceMappingURL=sub.css.map */
